/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
	margin: 0;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

/*-- header --*/

header {
	width: 100%;
	background: rgba(0, 0, 0, 0.72);
}

/*-- nav --*/

.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.w3_navigation {
	border-top: none;
	position: relative;
}

.navbar-nav {
	float: none;
}

.navbar-collapse {
	padding: 0;
}

.navbar-right {
	float: none !important;
	margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fa3d03;
	background: none;
}

.navbar-default .navbar-nav>li>a {
	color: #f5f5f5;
}

.navbar-nav>li>a {
	margin: 0;
	padding: .8em 1em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}

.navbar-nav>li:nth-child(3) {
	margin-right: 23.5em !important;
}

.w3_navigation_pos {
	position: absolute;
	top: 7%;
	left: 37.6%;
	z-index: 999;
}

.w3_navigation_pos h1 a {
	font-size: 1.1em;
	color: #212121;
	text-decoration: none;
	display: block;
}

.w3_navigation_pos h1 a span:before,
.w3_navigation_pos h1 a span:after {
	content: '';
	position: absolute;
	top: 11%;
	width: 40px;
	height: 42px;
}

.w3_navigation_pos h1 a i {
	display: block;
	font-size: .25em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	letter-spacing: 8px;
	color: #65b126;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ff688e;
}

.menu__list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Miranda */

.menu--miranda .menu__item {
	position: relative;
	margin: 1.5em 1.3em;
}

.menu--miranda .menu__link {
	position: relative;
	display: block;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--miranda .menu__link:hover,
.menu--miranda .menu__link:focus {
	color: #929292;
}

.menu--miranda .menu__item--current .menu__link {
	color: #ff688e;
}

.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after,
.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
	content: '';
	position: absolute;
	background: #3d59e8;
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
	transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* left and right line */

.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after {
	top: 0;
	width: 1px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

/* left line */

.menu--miranda .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* right line */

.menu--miranda .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

/* top and bottom line */

.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
	left: 0;
	width: 100%;
	height: 1px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

/* top line */

.menu--miranda .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

/* bottom line */

.menu--miranda .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

/* Delays (first reverse, then current) */

/* These rules can be simplified, but let's keep it for better readability */

/* bottom line */

.menu--miranda .menu__item .menu__link::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--miranda .menu__item--current .menu__link::after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* left line */

.menu--miranda .menu__item::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu--miranda .menu__item--current::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/* top line */

.menu--miranda .menu__item .menu__link::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu--miranda .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

/* right line */

.menu--miranda .menu__item--current::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--miranda .menu__item--current::before,
.menu--miranda .menu__item--current::after,
.menu--miranda .menu__item--current .menu__link::before,
.menu--miranda .menu__item--current .menu__link::after,
.menu__item:hover::before,
.menu__item:hover::after,
.menu--miranda .menu__link:hover::before,
.menu--miranda .menu__link:hover::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/*-- //header --*/

.banner {
	background: url(../images/vak2.jpg)no-repeat 0px 30px;
	-webkit-background-size: 1340px;
	-moz-background-size: cover;
	-o-background-size: center;
	-ms-background-size: center;
	background-size: 1340px;
	min-height: 300px;
	position: relative;
	margin-bottom: 9.5em;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: transparent;
}

.dropdown-menu>li>a {
	padding: 6px 20px;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

/*--header -top--*/

.banner-top {
	background: #fff;
}

.social-bnr-agileits {
	float: left;
	margin-left: 1em;
}

.social-bnr-agileits ul li {
	display: inline-block;
	float: left;
	margin: 0px 6px;
	text-align: center;
}

.social-bnr-agileits ul li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 2px solid #dadada;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.social-bnr-agileits ul {
	margin-top: 10px;
}

.social-bnr-agileits ul li i {
	padding-top: 6px;
	color: #000;
	font-size: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social-bnr-agileits ul li a:hover i {
	color: #ff688e;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social-bnr-agileits ul li a:hover {
	border-color: #ff688e;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.contact-bnr-w3-agile {
	float: right;
}

.contact-bnr-w3-agile ul li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid #918c8c;
	padding: 13px 20px;
	color: #000;
	font-size: 14px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.contact-bnr-w3-agile ul li a {
	color: #000;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-transform: lowercase;
	font-size: 16px;
}

.contact-bnr-w3-agile ul li a:hover {
	color: #3d59e8;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.contact-bnr-w3-agile ul li i {
	color: #ff688e;
	font-size: 16px;
	margin-right: 15px;
}

/*--search--*/

.search label.icon-search {
	color: #212121;
	cursor: pointer;
}

.search_form {
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 15px;
	overflow: hidden;
	width: 20px;
	height: 0px;
	background: #000000;
	transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}

.search_form form {
	opacity: 0;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.search_form input[type='search'] {
	width: 359px;
	padding: 6px;
	outline: none;
	font-size: 14px;
	color: #fff;
	border: 1px solid #999;
	background: none;
}

.search_form input[type='search']::-webkit-input-placeholder {
	color: #fff !important;
}

.search_form input[type='submit'] {
	outline: none;
	background: #3d59e8;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	border: 1px solid #3d59e8;
	text-transform: uppercase;
	padding: 6px 34px;
}

.search_form input[type='submit']:hover {
	background: #ff688e;
	border: 1px solid #ff688e;
}

.search_box {
	visibility: hidden;
}

.search_box:checked~.search_form {
	width: 500px;
	height: 53px;
	padding: 10px;
	top: 52px;
	transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}

.search_box:checked~.search_form form {
	opacity: 1;
	transition: 0.3s all ease-out 0.5s;
	-webkit-transition: 0.3s all ease-out 0.5s;
}

label.icon-search span {
	color: #3d59e8;
	font-size: 1.2em;
	/* top: 0px; */
	padding-right: 12px;
	/* background: #62a0ec; */
	/* padding: 10px; */
}

/*--//search--*/

/*-- //header -top--*/

/*--header-nav--*/

.w3_navigation_pos h1 a {
	text-decoration: none;
	color: #faf8f7;
	font-size: 35px;
	font-family: 'Monoton', cursive;
}

.w3_navigation_pos span {
	color: #3d59e8;
	font-family: 'Monoton', cursive;
	font-size: 60px;
	font-weight: bold;
}

/*-- //header-nav--*/

/*-- banner-text--*/

.banner-text {
	text-align: center;
	padding: 5em 0 0 0;
}

.banner-text h2 {
	color: #fff;
	text-shadow: 4px 4px 7px #212121;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 5em;
	letter-spacing: 2px;
	line-height: 1.3em;
	width: 50%;
	margin: 0 auto;
}

/*-- //banner-text--*/

/*-- //banner --*/

/*-- modal --*/

.modal-content img {
	width: 100%;
}

.modal-content h4 {
	color: #bc0023;
	text-align: center;
	font-size: 35px;
	margin-bottom: 15px;
}

.modal-content h5 {
	color: #1ca0de;
	padding: 20px 0 6px;
	font-size: 22px;
	margin-left: 0px;
}

.modal-content p {
	color: #000;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.2px;
	word-spacing: 1px;
}

.modal-header {
	min-height: 16.42857143px;
	padding: 20px 30px;
}

.modal-dialog {
	width: 600px;
	margin: 109px auto;
}

/*-- //modal --*/

.mail-grid1,
.about-section,
.count-agileits,
.testimonials,
.services,
.contact-page,
.agile-blogs,
.agile-about-top,
.features,
.special,
.gallery,
.inner-padding,
.team {
	padding: 5em 0;
}

/*-- services --*/

h5.title-w3 {
	font-size: 2em;
	color: #3d59e8;
	margin: 0em 0 1em;
	text-align: center;
}

/*-- //services --*/

/*--/review--*/

/*--flexisel--*/

/*--gallery--*/

.flex-slider {
	background: #222227;
	padding: 70px 0 165px 0;
}

.opportunity {
	background: #28282e;
	margin: 0px 20px;
	padding: 80px 0;
	position: relative;
}

#flexiselDemo1 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}

.nbs-flexisel-item {
	float: left;
	margin-right: 0.1em;
	padding: 0;
	position: relative;
	line-height: 0px;
}

.nbs-flexisel-item>img {
	cursor: pointer !important;
	position: relative;
}

/*---- Nav ---*/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	z-index: 999;
	top: 105% !important;
}

.nbs-flexisel-nav-left {
	left: 55%;
	background: url(../images/next.png) no-repeat 0px 0px;
	background-size: 30px;
}

.nbs-flexisel-nav-right {
	right: 55%;
	background: url(../images/back.png) no-repeat 0px 0px;
	background-size: 30px;
}

/*--//flexisel--*/

.gallery-ban {
	position: absolute;
	left: 12.9em;
	bottom: -6.5em;
}

.gallery-ban {
	position: relative;
	bottom: -6.3em;
	left: 0em;
}

/*-- gallery --*/

/*-- about --*/

p.para-w3l {
	color: #555;
	line-height: 2em;
	font-size: 17px;
	letter-spacing: 0.7px;
}

p.white-clr,
h3.white-clr {
	color: #fff;
}

.about-read a {
	display: block;
	text-align: center;
	color: #3d59e8;
	text-decoration: none;
}

a.read {
	border: none;
	outline: none;
	background: #3d59e8;
	padding: .8em 1.8em;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .79em;
	font-weight: 600;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	text-decoration: none;
	margin-top: 1.5em;
}

a.read:hover {
	text-decoration: none;
	background: #ff688e;
}

/*--about --*/

.about-w3ls-right {
	padding: 2em 0 2em 3em;
}

.about-img {
	background: url(../images/about.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 300px;
}

.about-bottom {
	padding: 1.5em 2em;
	background: #3d59e8;
}

h3.subheading-wthree {
	color: #e86085;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 0.5em;
	text-transform: capitalize;
}

.about-top {
	text-align: center;
	margin: 0em 0em 2em;
}

.about-w3ls-right ul li {
	list-style: none;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	margin-top: 1em;
	color: #777;
}

.about-w3ls-right ul li span {
	font-size: 15px;
	display: inline-block;
	margin-right: 1em;
	color: #000;
}

.mid-info {
	padding: 2em;
}

@media (min-width: 992px) {
	.about-main {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
}

@media (min-width: 992px) {
	.about-w3-left {
		flex-basis: 45%;
		-webkit-flex-basis: 45%;
	}
}

@media (min-width: 992px) {
	.about-w3ls-right {
		flex-basis: 55%;
		-webkit-flex-basis: 55%;
	}
}

/*--// about --*/

/*-- about --*/

/*-- offer--*/

.agile-blog1 h2 {
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	padding-bottom: 48px;
	font-weight: bold;
	color: #333;
}

.left-blog-contn1 img,
.left-blog-contn2 img {
	width: 100%
}

.left-blog-contn1 {
	float: left;
	width: 46%;
	position: relative;
}

.text-w3 {
	float: right;
	width: 47%;
	padding: 20px 0px;
	text-align: center;
}

.text-w3 h4,
.text-w3l h4 {
	color: black;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-w3 h4 a,
.text-w3l h4 a {
	color: #333 !important;
	text-decoration: none;
}

.view {
	font-size: 18px;
	color: white;
	background: #333;
	padding: 18px 28px;
	letter-spacing: 1px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.agile-blog2 {
	padding: 3.5em 0em 0em;
}

.g3.agile-blog1 {
	padding: 26px 0px;
}

.agile-blog2 img {
	width: 100%;
}

.left-blog-contn2 {
	float: right;
	width: 46%;
	position: relative;
}

.text-w3l {
	float: left;
	width: 47%;
	padding: 30px 0px;
	text-align: center;
}

.blog-grid li {
	list-style: none;
}

.blog-grid ul li:nth-child(1) {
	float: left;
}

.blog-grid ul li:nth-child(2) {
	float: right;
}

.blog-grid ul li span {
	font-size: 20px;
	color: #3d59e8;
	margin-right: 6px;
}

.blog-grid ul li {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.4px;
	color: #4a4a4a;
}

.blog-grid ul {
	margin: 1em 0;
}

.agile-blog1 {
	position: relative;
}

.agile-blog2 {
	position: relative;
}

h5.cost1,
h5.cost2 {
	font-size: 36px;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 3px 3px 1px #000000;
	font-weight: 400;
}

h5.cost1 {
	position: absolute;
	left: 3%;
	bottom: 7%;
}

h5.cost2 {
	position: absolute;
	right: 3%;
	bottom: 7%;
}

/*-- //offer--*/

/*--counter-section--*/

.count-agileits {
	background: url(../images/bannerb.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	text-align: center;
}

.count-bgcolor-w3ls {
	background: rgba(0, 0, 0, 0.58);
}

.count-bgcolor-w3ls {
	padding: 2em 0em;
}

.count-grids {
	width: 100%;
}

.count-grid span {
	background: #ff688e;
	display: block;
	width: 65px;
	height: 2px;
	margin: 0 auto;
}

.count-grid h4 {
	font-size: 4em;
	color: #fff;
}

.count-grid h5 {
	font-size: 1.4em;
	font-weight: 300;
	color: #fff;
	margin-top: .5em;
	letter-spacing: 1px;
}

.count-grid i {
	font-size: 2em;
	color: #ff688e;
}

.numscroller {
	font-size: 2.5em;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	padding: 0.3em 0;
	letter-spacing: 2px;
	font-weight: 800;
}

/*--//counter-section--*/

/*--services-secytion--*/

@media(min-width:1051px) {
	.services-w3layouts {
		display: flex;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: center;
	}
	.agitsworkw3ls-grid {
		flex-basis: 50%;
		-webkit-flex-basis: 50%;
	}
	.agitsworkw3ls-grid-2 {
		flex-basis: 50%;
		-webkit-flex-basis: 50%;
	}
}

.agitsworkw3ls-grid {
	background: rgb(32, 32, 32);
	padding: 3em 2em;
}

.agitsworkw3ls-grid p {
	text-align: center;
	margin: 1em 0 2em;
}

.features-img {
	background: url(../images/feature.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 200px;
	margin-bottom: 1.4em;
}

.agitsworkw3ls-grid h3 {
	margin-bottom: 0.7em;
	text-align: left;
}

.services-left-w3-agile {
	width: 50%;
	float: left;
}

.services-right-w3-agile {
	width: 50%;
	float: left;
}

.agitsworkw3ls-grid ul li {
	list-style: none;
	text-align: left;
	margin-bottom: 17.8px;
	/* line-height: 31px; */
	text-transform: capitalize !important;
	font-size: 15px;
	display: block;
	letter-spacing: 1px;
	color: #9c9a9a;
}

.agitsworkw3ls-grid ul li:nth-child(6) {
	margin-bottom: 0;
}

.agitsworkw3ls-grid ul li i {
	font-size: 11px;
	color: #ff688e;
	padding-right: 7px;
}

/*-- //Tabs --*/

.info-imgs ul li {
	float: left;
	width: 50%;
	list-style: none;
}

.info-imgs ul li img {
	width: 100%;
}

.agitsworkw3ls-grid-2 {
	padding: 0;
}

h3.tittle.two {
	text-align: left;
	color: #fff;
}

/*-- gallery --*/

.agile_gallery_grids {
	margin: 2em 0 0;
}

.demo>li {
	float: left;
	list-style-type: none;
	margin: 10px;
}

.demo>li img {
	width: 265px;
	cursor: pointer;
}

/*jquery.picEyes*/

.picshade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	background-color: #000;
	opacity: 0.91;
	filter: alpha(opacity=91);
	z-index: 99;
	display: none;
}

.pictures_eyes_close {
	position: fixed;
	top: 30px;
	right: 30px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/close.png) no-repeat;
	z-index: 100;
	display: none;
}

.pictures_eyes {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 199;
	display: none;
}

.pictures_eyes_in {
	position: relative;
	text-align: center;
}

.pictures_eyes_in img {
	max-height: 500px;
}

.pictures_eyes_in .prev,
.pictures_eyes_in .next {
	position: absolute;
	top: 50%;
	width: 51px;
	height: 51px;
	cursor: pointer;
}

.pictures_eyes_in .prev {
	left: 35px;
	background: url(../images/left1.png) no-repeat;
}

.pictures_eyes_in .next {
	right: 35px;
	background: url(../images/right1.png) no-repeat;
}

.pictures_eyes_indicators {
	position: fixed;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
	z-index: 299;
}

.pictures_eyes_indicators a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 6px 3px 0 3px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 2px #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	overflow: hidden;
}

.pictures_eyes_indicators img {
	height: 50px;
}

.pictures_eyes_indicators .current {
	filter: alpha(opacity=100);
	opacity: 1;
}

.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gallery-grid1 .p-mask,
.row .product .vm-product-media-container .p-mask {
	opacity: 0;
	visibility: hidden;
	background: rgba(25, 24, 24, 0.8);
	bottom: 0%;
	position: absolute;
	padding: 1em 1.3em;
	width: 100%;
	-webkit-transform: translate3d( 0px, 100%, 0px);
	-moz-transform: translate3d( 0px, 100%, 0px);
	-ms-transform: translate3d( 0px, 100%, 0px);
	-o-transform: translate3d( 0px, 100%, 0px);
	transform: translate3d( 0px, 100%, 0px);
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: left;
	border-top: 5px solid #3d59e8;
}

.gallery-grid1 .p-mask .p-desc {
	color: #a3a3a3;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.gallery-grid1:hover .p-mask,
.row .product:hover .p-mask {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
}

.p-mask h4 {
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

.p-mask p {
	margin: 0;
	color: #f5f5f5;
	line-height: 1.8em;
	font-size: 16px;
}

.p-mask span {
	color: #ff688e;
}

.pictures_eyes_in {
	position: relative;
	text-align: center;
}

/*--//services-section--*/

/*-- testimonials --*/

.w3_testimonials_grid_left p {
	margin: 0em auto 2em;
	width: 73%;
	text-align: center;
	color: #555;
	line-height: 2em;
	font-size: 17px;
	letter-spacing: 0.7px;
}

.w3_testimonials_grid_right img {
	border: 8px solid #ff688e;
	/* border-radius: 120px; */
	margin: 0 auto;
	position: absolute;
	top: 17px;
	left: 18px;
}

.w3_testimonials_grid_right {
	position: relative;
	width: 115px;
	height: 115px;
	margin: 0 auto 0.6em;
	border: 8px solid #9c9c9c;
}

/*-- //testimonials --*/

/*-- newsletter--*/

.n-right,
.n-left {
	padding: 0;
}

.n-left h6 {
	font-size: 2.5em;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: 500;
}

.w3layouts_newsletter_right {
	padding: 2.5em 0;
	background: #3d59e8;
}

.w3layouts_newsletter_right input[type="submit"],
.w3layouts_newsletter_right input[type="text"] {
	width: 30%;
}

.w3layouts_newsletter_right input[type="email"],
.w3layouts_newsletter_right input[type="text"] {
	outline: none;
	border: none;
	padding: 10px;
	background: #fff;
	border: 2px solid #ffffff;
	color: #212121;
	font-size: 15px;
	text-align: center;
	float: left;
}

.w3layouts_newsletter_right input[type="email"] {
	width: 38%;
	margin: 0 1%;
}

.w3layouts_newsletter_right input[type="submit"] {
	color: #fff;
	letter-spacing: 0.5px;
	font-size: 16px;
	text-transform: capitalize;
	padding: 9.5px 0px;
	border: none;
	outline: none;
	background: #ff688e;
	border: 2px solid #ff688e;
	cursor: pointer;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.w3layouts_newsletter_right input[type="submit"]:hover {
	background: transparent;
	color: #fff;
}

/*-- //newsletter--*/

/*--inner-pages--*/

.inner-bg-w3 {
	min-height: 275px !important;
	margin-bottom: 0px !important;
}

/*-- about-inner --*/

.about-bg {
	padding: 0em 0 3em 0 !important;
}

.about-heading {
	text-align: center;
}

.about-heading h2 {
	font-size: 2em;
	margin: 1.5em 0 0 0;
	color: #000000;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
}

/*-- Responsive-Slider --*/

#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: none;
	text-align: center;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: 326px;
	left: 0;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: transparent url(../images/arrows.png) no-repeat left top;
}

.callbacks_nav.next {
	left: auto;
	background-position: right top;
	left: 95.5%;
}

.callbacks_nav.prev {
	right: auto;
	background-position: left top;
	left: 22px;
}

.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}

#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider-pager a {
	padding: 0;
}

#slider-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}

.rslides li {
	position: relative;
	display: block;
	float: none;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 75.5%;
	z-index: 999;
	left: -7.5%;
	padding: 0em 0.6em 0.3em 0.3em;
	margin: 0;
	border-bottom: 2px dotted #2b2b2b;
}

.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #ff688e;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.65);
	border: none;
	border-radius: 50%;
}

.callbacks_here a:after {
	background: #3d59e8;
}

.slider-info {
	position: absolute;
	top: 9em;
	z-index: 999;
	left: 13em;
	width: 75%;
	height: 100%;
}

.slider-info img {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 2.5em;
}

.slider-info h3 {
	font-size: 45px;
	font-weight: 900;
	color: #FFF;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 2px 0px 10px;
}

.slider-info p {
	font-size: 18px;
	font-weight: 100;
	color: #d3d8d8;
	margin: 0 auto;
	line-height: 35px;
	letter-spacing: 1px;
}

.slider-info h4 {
	font-size: 45px;
	color: #b56d10;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-top: 7px;
}

/*-- //Responsive-Slider --*/

/*--team--*/

ul.top-icons.team-icon {
	text-align: center;
	margin-top: 10px;
}

.team-icon li i {
	color: #fff;
	padding-top: 8px;
}

.team-icon li {
	display: inline-block;
	margin: 0px 4px;
	width: 32px;
	height: 32px;
	background: #ff688e;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}

.team-icon li:hover {
	background: #3d59e8;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*--//team--*/

.agile_team_grid1 {
	padding: 1em;
	border: 4px double #ddd;
	text-align: center;
}

.agile_team_grid:nth-child(even) {
	margin-top: 7%;
}

.agile_team_grid1 h4 {
	font-size: 23px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #3d59e8;
}

span.designation {
	font-size: 17px;
	letter-spacing: 1px;
	color: #a5a5a5;
	display: block;
	margin: 6px 0 9px;
}

.agile_team_grid_main .p-mask {
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.72);
	bottom: 0%;
	position: absolute;
	padding: 1em 0 .6em;
	width: 100%;
	-webkit-transform: translate3d( 0px, 100%, 0px);
	-moz-transform: translate3d( 0px, 100%, 0px);
	-ms-transform: translate3d( 0px, 100%, 0px);
	-o-transform: translate3d( 0px, 100%, 0px);
	transform: translate3d( 0px, 100%, 0px);
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: center;
}

.agile_team_grid:hover .p-mask {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
}

/*--//team--*/

/*-- //about-inner --*/

/*-- services-inner --*/

/*-- services --*/

.services-grids {
	width: 31.2%;
	float: left;
	text-align: center;
	box-shadow: -2px 2px 6px #737373;
	position: relative;
}

.services-grids h6 {
	color: #fff;
	font-size: 17px;
	text-transform: capitalize;
	letter-spacing: 1px;
	position: absolute;
	width: 100%;
	padding: 0.7em 0;
	background: rgba(0, 0, 0, 0.64);
	border-bottom: 4px solid #3d59e8;
	bottom: 0;
}

.services-grids:hover h6 {
	background: #3d59e8;
	border-bottom: 4px solid #ff688e;
	transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
}

.services-grids:nth-child(1),
.services-grids:nth-child(2),
.services-grids:nth-child(3),
.services-grids:nth-child(4),
.services-grids:nth-child(5),
.services-grids:nth-child(6) {
	min-height: 200px;
}

.services-grids:nth-child(1) {
	background: url(../images/1.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(2) {
	background: url(../images/bannerb.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(3) {
	background: url(../images/4.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(4) {
	background: url(../images/3.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(5) {
	background: url(../images/1.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(6) {
	background: url(../images/2.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.services-grids:nth-child(2),
.services-grids:nth-child(5) {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.services-grids:nth-child(1),
.services-grids:nth-child(2),
.services-grids:nth-child(3),
.services-grids:nth-child(4),
.services-grids:nth-child(5),
.services-grids:nth-child(6) {
	margin-bottom: 30px;
}

.profile-btm-w3l {
	margin-top: 30px;
}

.profile-pic-w3ls {
	text-align: center;
	border: 1px solid #e6e4e4;
	background: #f5f5f5;
	padding: 2em 2em;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	-o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02)
}

.pic-w3layouts {
	position: relative;
	border: 10px solid #dedede;
	width: 150px;
	height: 150px;
	margin: 0 auto 2.5em;
}

.pic-w3layouts img {
	border: 9px solid #c1c1c1;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 150px;
	height: 150px;
}

/*-- //services --*/

/*--// services-inner --*/

/*-- features --*/

.features-right-info p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	color: #000;
}

.features-right-left {
	background: #3d59e8;
	width: 60px;
	height: 60px;
	padding: .7em 0 0 0;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-top-left-radius: 0px;
}

.features-right-grids:hover .features-right-left {
	background: #ff688e;
}

.features-right-left i {
	font-size: 1.5em;
	color: #FFFFFF;
	padding: .3em;
}

.features-right-right {
	margin-top: 1em;
}

.features-right-icon {
	position: relative;
}

/*-- Effect 2--*/

.features-right-icon:after {
	pointer-events: none;
	position: absolute;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-top-left-radius: 0px;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.effect-2 {
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
}

.effect-2:after {
	top: -18px;
	left: -8px;
	box-shadow: 0 0 0 2px #ff688e;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
	-webkit-transform: scale(0.8);
	-moz-transition: -moz-transform 0.5s, opacity 0.2s;
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transition: transform 0.5s, opacity 0.2s;
	transform: scale(0.8);
	opacity: 0;
}

.features-right-grids:hover.features-right-icon {
	background: #FF7200;
	color: #fff !important;
}

.features-right-grids:hover .features-right-icon:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*--//Effect 1--*/

.features-left {
	border: 3px solid rgba(38, 215, 151, 0.53);
	padding: 0;
}

/*-- //features --*/

/*--//services inner --*/

/*-gallery-inner-*/

/*-- gallery --*/

.gallery-heading {
	text-align: center;
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 0 0;
	height: auto;
	text-align: center;
	/*cursor: pointer;*/
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
	font-weight: 300;
	margin: 0;
	text-align: center;
	font-size: 1.05em;
	letter-spacing: 3px;
	color: #fff;
	padding: 6px;
	background: rgba(0, 0, 0, 0.62);
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	font-weight: 600;
}

/*-----------------*/

/***** Apollo *****/

/*-----------------*/

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05, 1.05, 1);
	transform: scale3d(1.05, 1.05, 1);
	-moz-transform: scale3d(1.05, 1.05, 1);
	-o-transform: scale3d(1.05, 1.05, 1);
	-ms-transform: scale3d(1.05, 1.05, 1)
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	-o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	-mz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	-ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 168px;
	border-right: 4px solid #3d59e8;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	color: #ffffff;
	text-shadow: 2px 2px 3px #000;
	font-size: 1em;
	text-transform: capitalize;
}

figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
	-o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
	-moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
	-ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/*-- //gallery --*/

/*--//gallery-inner*/

/*-- contact-page --*/

.form-bg input[type="text"],
.form-bg input[type="email"],
.form-bg textarea {
	width: 100%;
	padding: 8px 10px;
	height: 39px;
	font-weight: 500;
	background: none;
	background: rgba(53, 53, 53, 0.45);
	border-radius: 0;
	border: none;
	border-bottom: 2px solid rgb(64, 64, 64);
	color: #ffffff;
	outline: none;
	font-size: 15.5px;
	letter-spacing: 1px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

.form-bg input[type="text"],
.form-bg input[type="email"] {
	margin-bottom: 1em;
}

.contact-fields {
	padding-left: 0;
}

.contact-fields:nth-child(2) {
	padding-right: 0;
}

.form-bg textarea {
	resize: none;
	height: 100px;
}

.form-bg input[type="submit"] {
	background: rgb(61, 89, 232);
	color: #ffffff;
	font-size: 16px;
	text-transform: capitalize;
	margin: 0 auto;
	margin-top: 2em;
	border: 2px solid #3d59e8;
	outline: none;
	letter-spacing: .5px;
	display: block;
	cursor: pointer;
	-webkit-appearance: none;
	padding: 0.7em 5em;
	font-family: 'Source Sans Pro', sans-serif;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.form-bg input[type="submit"]:hover {
	background: transparent;
	color: #fff;
}

.form-bg {
	padding: 4em;
	background: #252525;
}

.resp-tab-content {
	padding: 1em 0 0;
}

.resp-tab-content iframe {
	width: 100%;
	border: none;
	outline: none;
	height: 300px;
	padding: 1em;
	background: #e2e2e2;
}

.resp-tabs-list li {
	color: #000;
	background: #e2e2e2;
	border: none;
	border-left: 1px solid #fff;
}

.resp-tabs-list li:nth-child(1) {
	border-left: none;
}

.add-left {
	margin-top: 2em;
}

.add-left p:nth-child(2) {
	margin: 1em 0;
}

.resp-tabs-container p span {
	color: #3d59e8;
	font-weight: 600;
	display: block;
}

.resp-tabs-container p a {
	color: #555;
	letter-spacing: .5px;
}

.resp-tabs-container p a:hover {
	color: #ff688e;
}

.contact-maps {
	margin-top: 5em;
}

/*--// contact-page --*/

/*-- single --*/

.admin-text {
	border: 1px solid #fff;
	padding: 2em;
	margin-top: 2em;
	background: #ff688e;
}

.admin-text h5 {
	font-size: 1.3em;
	letter-spacing: 1px;
	margin: 0 0 1em 0;
	color: #fff;
}

.admin-text-right p,
.video_agile_player p {
	color: #fff;
	font-size: 16px;
	margin: 0 0 18px;
	line-height: 28px;
	letter-spacing: .6px;
}

.video_agile_player p {
	margin-top: 18px;
	color: #555;
}

.admin-text-left {
	float: left;
	width: 11%;
}

.admin-text-right {
	float: right;
	width: 86%;
}

.admin-text-left img {
	width: 100%;
}

.admin-text-right span {
	font-size: 15px;
	margin: 0 0 1em 0;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 1px;
}

.admin-text-right span a {
	color: #0c0d0d;
	text-decoration: none;
}

.admin-text-right span a:hover {
	color: #fff;
	transition: .5s all;
}

.media.response-info {
	margin-top: 3em;
}

.response-info-mdl {
	margin: 1em 0px 1em 4em;
}

.response {
	margin: 3em 0;
}

.media-left.response-text-left {
	width: 11%;
}

.response-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}

.response h4 {
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 0 0 1em 0;
	color: #0c0d0d;
	text-transform: uppercase;
}

.response-text-left h5 a {
	text-decoration: none;
	color: #0c0d0d;
	text-transform: uppercase;
	font-size: 0.95em;
}

.response-text-left h5 a:hover {
	text-decoration: none;
	color: #fe423f;
	transition: .5s all;
}

.response-text-left h5 {
	font-size: 17px;
	margin: 1em 0 0 0;
}

.response-text-right p {
	color: #555;
	margin: 0 0 15px;
	line-height: 1.9em;
	font-size: 16px;
	letter-spacing: 0.6px;
}

.wom-right p {
	font-size: 0.99em;
	letter-spacing: .5px;
	margin: 0 0 8px;
	margin-top: 0.6em;
	line-height: 1.8em;
	color: #555;
}

.response-text-right ul {
	padding: 0;
	text-align: right;
}

.response-text-right ul li {
	display: inline-block;
	color: #0c0d0d;
	font-size: 1em;
	margin-right: 1em;
	letter-spacing: 1px;
}

.response-text-right ul li a {
	color: #ff688e;
	font-size: 1em;
}

.response-text-right ul li a:hover {
	color: #3d59e8;
	text-decoration: none;
}

.media-left a img {
	width: initial;
}

.w3l-blog-list li,
.blog-list1 li {
	list-style: none;
}

.w3l-blog-list li a:hover {
	color: #111;
}

.response-text-right ul {
	padding: 0;
	text-align: left;
}

h3.tittle,
h2.w3l-inner-h-title,
h3.w3l-inner-h-title {
	font-size: 1.8em;
}

.video-grid-single-page-agileits {
	margin-bottom: 1em;
}

.w3l-blog-list li a {
	color: #555;
	font-size: 0.99em;
	letter-spacing: .5px;
	text-decoration: none;
	display: block;
	margin: 12px 0;
}

.w3l-blog-list {
	margin-top: 1.3em;
}

.w3l-blog-list i {
	color: #ff688e;
	margin-right: 12px;
}

ul.w3l-sider-list li {
	display: inline-block;
	color: #666;
	font-size: .9em;
	margin-right: 18px;
}

ul.w3l-sider-list li i {
	display: inline-block;
	color: #0c0d0d;
	font-size: .9em;
	margin-right: 10px;
}

.side-bar-form input[type="search"] {
	background: #fff;
	width: 81%;
	outline: none;
	padding: 8px 10px;
	font-size: 15.5px;
	color: #000000;
	letter-spacing: 1px;
	border: 1px solid #e4e3ea;
	float: left;
}

.side-bar-form input[type="submit"] {
	background: url(../images/search.png) no-repeat 9px 9px #ff688e;
	width: 44px;
	height: 40px;
	border: none;
	outline: none;
	padding: 0;
	background-size: 24px;
	float: left;
}

h4.side-t-w3l-agile {
	font-size: 20px;
	margin-bottom: 1em;
	font-weight: 400;
	letter-spacing: 1px;
}

.agile-info-wthree-box input[type="text"],
.agile-info-wthree-box input[type="email"],
.agile-info-wthree-box textarea {
	outline: none;
	border: 1px solid #d6d4d4;
	background: none;
	padding: 13px 13px;
	width: 100%;
	font-size: 15.5px;
	letter-spacing: 1px;
	color: #333;
}

.agile-info-wthree-box textarea {
	resize: none;
	min-height: 118px;
	margin-bottom: 6px;
}

.form-info {
	padding-left: 0;
}

.all-comments-info h5,
.single-agile-shar-buttons h5 {
	font-size: 1em;
	margin: 0;
	font-weight: 600;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #0c0d0d;
	margin: 0em 0 1em 0;
}

.all-comments-info {
	padding: 2em;
	border: 1px solid#ddd;
	margin: 2em 0;
}

.agile-info-wthree-box input[type="submit"] {
	outline: none;
	font-style: normal;
	padding: 0.78em 4em;
	background: #3d59e8;
	font-size: 14px;
	color: #fff;
	display: block;
	border: none;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.agile-info-wthree-box input[type="submit"]:hover {
	background: #ff688e;
}

.agile-info-wthree-box input[type="email"]:nth-child(2) {
	margin: 1em 0;
}

.wom {
	float: left;
	width: 25%;
}

.wom-right {
	float: right;
	width: 70%;
}

.wom-right h5 a,
.video_agile_player h4 {
	color: #3d59e8;
	font-size: 16px;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: 1px;
}

.video_agile_player h4 {
	color: #e86085;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 0.5em;
	text-transform: capitalize;
	line-height: 35px;
}

.w3l-recent-grid {
	margin: 1em 0;
}

/*-- //single --*/

/*--//inner-pages--*/

/*-- main --*/

.tittle-w3 {
	font-size: 3.5em;
	color: #000000;
	margin: 0em 0 0.7em;
	text-align: center;
	text-transform: capitalize;
	font-weight: 300;
	letter-spacing: 5px;
}

.sub-head {
	color: #e86085;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 0.5em;
	text-transform: capitalize;
	line-height: 45px;
}

/*-- //main --*/

/*-- footer --*/

.map-w3-agileits iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.map-w3-agileits {
	padding: 1em;
	background: rgb(255, 204, 84);
	flex-basis: 50%;
	-webkit-flex-basis: 50%;
}

.w3l-social ul {
	padding: 0;
	margin: 0;
}

.w3l-social ul li {
	display: inline-block;
}

.w3l-social ul li a {
	text-align: center;
}

.w3l-social ul li a.fa {
	margin: 0 2em;
	font-size: 16px;
	color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a.fa.fa-facebook:hover {
	color: #3b5998;
}

.w3l-social ul li a.fa.fa-twitter:hover {
	color: #1da1f2;
}

.w3l-social ul li a.fa.fa-google-plus:hover {
	color: #dd4b39;
}

.w3l-social ul li a.fa.fa-instagram:hover {
	color: #e1306c;
}

.w3l-social ul li a.fa.fa-linkedin:hover {
	color: #00a0dc;
}

.w3l-social ul li a:hover,
.w3l-social ul li a:focus {
	text-decoration: none;
}

.w3l-social {
	text-align: center;
}

.w3ls_address_mail_footer_grids {
	padding: 4em 0;
	background: #191919;
	border-bottom: 2px solid #ffffff;
}

.w3ls_footer_grid_left p {
	color: #7d7d7d;
	line-height: 2em;
	font-size: 1em;
	letter-spacing: 1px;
}

.w3ls_footer_grid_left {
	text-align: center;
}

.w3ls_footer_grid_left p span {
	display: block;
}

.w3ls_footer_grid_left p a {
	color: #999;
	text-decoration: none;
}

h6.footer-logo {
	text-align: center;
	margin: 3em 0 2em;
}

h6.footer-logo a {
	text-decoration: none;
	color: #faf8f7;
	font-size: 35px;
	left: 0.4em;
	font-family: 'Monoton', cursive;
	margin: 0.2em 0 0.3em;
	display: inline-block;
}

h6.footer-logo a span {
	color: #3d59e8;
	font-family: 'Monoton', cursive;
	font-size: 60px;
	font-weight: bold;
}

h6.footer-logo a:hover,
h6.footer-logo a:focus {
	text-decoration: none;
	outline: none;
}

.copyright-wthree {
	background: #191919;
	padding: 1.5em 0;
}

.copyright-wthree p {
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 300;
	word-spacing: 1px;
	text-align: center;
}

.copyright-wthree a {
	color: #ffffff;
	text-decoration: underline;
}

.copyright-wthree a:hover {
	color: #ff688e;
}

/*-- //Footer --*/

/*-- //Footer --*/

/*-- icons --*/

.codes a {
	color: #999;
}

.icon-box {
	padding: 8px 15px;
	background: rgba(149, 149, 149, 0.18);
	margin: 1em 0 1em 0;
	border: 5px solid #ffffff;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	cursor: pointer;
}

.icon-box:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.icon-box:hover a {
	color: #fff;
}

.icon-box:hover i.fa {
	color: #fff !important;
}

.icon-box:hover a.contentmk-icon {
	color: #fff !important;
}

.codes .bs-glyphicons li {
	float: left;
	width: 12.5%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.codes .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

h3.icon-subheading {
	margin: 30px 0 15px;
	font-size: 30px;
	color: #e86085;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: capitalize;
}

h3.contentmkits-icons-title {
	text-align: center;
	font-size: 33px;
	color: #222222;
	font-weight: 600;
	letter-spacing: 2px;
}

.icons a {
	color: #999;
}

.icon-box i {
	margin-right: 10px !important;
	font-size: 20px !important;
	color: #282a2b !important;
}

.bs-glyphicons li {
	float: left;
	width: 18%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
	background: rgba(149, 149, 149, 0.18);
	margin: 1%;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #282a2b;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

ul.bs-glyphicons-list li:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
	color: #fff;
}

@media (max-width:991px) {
	h3.contentmkits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}

@media (max-width:768px) {
	h3.contentmkits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}

@media (max-width: 767px) {
	.icon-box {
		width: 50%;
		float: left;
	}
}

@media (max-width: 640px) {
	.icon-box {
		float: left;
		width: 50%;
	}
}

@media (max-width: 480px) {
	.bs-glyphicons li {
		width: 31%;
	}
}

@media (max-width: 414px) {
	h3.contentmkits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		/*font-size: 18px;*/
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}

@media (max-width: 384px) {
	.icon-box {
		float: none;
		width: 100%;
	}
}

/*-- //icons --*/

/*-- Codes --*/

.well {
	font-weight: 300;
	font-size: 14px;
}

.list-group-item {
	font-weight: 300;
	font-size: 14px;
}

li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
}

.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
}

.grid_5 {
	background: none;
	padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
	margin-bottom: 1em;
	font-size: 30px;
	color: #e86085;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: capitalize;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 0;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #22cdf3;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 15px !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.alert {
	font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

.typo ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

@media (max-width:768px) {
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}

@media (max-width:640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}

@media (max-width:480px) {
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,
	p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.mkstyles {
		margin-top: 25px;
	}
}

@media (max-width: 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert,
	p,
	ol.breadcrumb li,
	.grid_3 p,
	.well,
	ul.list-group li,
	li.list-group-item1,
	a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav>li>a {
		font-size: 14px;
	}
	table.table.table-striped,
	.table-bordered,
	.bs-docs-example {
		display: none;
	}
}

h3.title-allahsuperl.allahsuperl-2:before {
	right: 25%;
}

/*-- //Codes --*/

/*-- to-top --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 30px;
	height: 30px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
	background-size: 30px;
}

#toTopHover {
	width: 64px;
	height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*-- //to-top --*/

/*--responsive--*/

@media(max-width:1680px) {}

@media(max-width:1440px) {
	.w3_navigation_pos {
		top: 11%;
		left: 37%;
	}
	.banner-text h2 {
		width: 85%;
	}
}

@media(max-width:1366px) {
	.banner-text h2 {
		font-size: 4.7em;
		line-height: 1.4em;
	}
}

@media(max-width:1080px) {
	.banner {
		margin-bottom: 8.758em;
		min-height: 657px;
	}
	.navbar-nav>li:nth-child(3) {
		margin-right: 19.5em !important;
	}
	.w3_navigation_pos {
		left: 34%;
	}
	.menu--miranda .menu__item {
		margin: 1.5em .5em;
	}
	.banner-text {
		padding: 6.5em 0 0 0;
	}
	.banner {
		margin-bottom: 6.95em;
		min-height: 657px;
	}
	h3.subheading-wthree {
		font-size: 25px;
		line-height: 30px;
	}
	h5.cost1,
	h5.cost2 {
		font-size: 30px;
	}
	.team-icon li {
		margin: 0px 2px;
	}
}

@media(max-width:1050px) {
	.numscroller {
		font-size: 1.8em;
	}
	.banner-text h2 {
		font-size: 4em;
		line-height: 1.3em;
		letter-spacing: 1px;
		width: 92%;
	}
	.banner {
		margin-bottom: 6.95em;
		min-height: 612px;
	}
	.tittle-w3 {
		font-size: 3.1em;
		letter-spacing: 4px;
	}
	.mail-grid1,
	.about-section,
	.count-agileits,
	.testimonials,
	.services,
	.contact-page,
	.agile-blogs,
	.agile-about-top,
	.features,
	.special,
	.gallery,
	.inner-padding,
	.team {
		padding: 4em 0;
	}
	.contact-maps {
		margin-top: 4em;
	}
	.flex-control-nav li {
		margin: 0 6px;
	}
	.flex-control-nav {
		left: 59%;
	}
	h3.subheading-wthree {
		font-size: 23px;
		letter-spacing: 2px;
		line-height: 30px;
	}
}

@media(max-width:1024px) {
	.w3_navigation_pos h1 a {
		font-size: 28px;
	}
	.w3_navigation_pos span {
		font-size: 55px;
	}
	.navbar-nav>li:nth-child(3) {
		margin-right: 17em !important;
	}
	.w3_navigation_pos {
		left: 36.5%;
	}
	.menu--miranda .menu__item {
		margin: 1.5em .77em;
	}
	.n-left h6 {
		font-size: 2.2em;
		letter-spacing: 1.3px;
	}
	.latest-news-agile-left-content {
		width: 100%;
	}
	.latest-news-agile-right-content {
		width: 100%;
	}
}

@media(max-width:991px) {
	.w3_navigation_pos h1 a {
		font-size: 32px;
	}
	.navbar-nav>li:nth-child(3) {
		margin-right: 16.2em !important;
	}
	.menu__list {
		margin-left: 0;
	}
	.contact-bnr-w3-agile ul li {
		padding: 13px 15px;
	}
	.menu--miranda .menu__item {
		margin: 1.2em 0.15em;
	}
	.navbar-nav>li>a {
		font-size: 13px;
	}
	.dropdown-menu>li>a {
		font-size: 12px;
	}
	.w3_navigation_pos span {
		font-size: 50px;
	}
	.w3_navigation_pos {
		left: 32%;
	}
	.search_box:checked~.search_form {
		width: 415px;
	}
	.search_form input[type='submit'] {
		font-size: 13px;
		padding: 6.7px 28px;
	}
	.search_form input[type='search'] {
		width: 300px;
	}
	.banner {
		margin-bottom: 5.7em;
		min-height: 572px;
	}
	.form-info {
		margin-top: 1em;
	}
	.n-left {
		margin-bottom: 1.5em;
	}
	.about-w3ls-right {
		margin: 2em 0 0;
		padding: 0;
	}
	.tittle-w3 {
		margin: 0em 0 0.5em;
	}
	.count-grid {
		width: 33%;
		float: left;
	}
	.left-blog-contn1 {
		float: none;
		width: 100%;
	}
	.text-w3 {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 1.5em;
	}
	.text-w3l {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 2em;
	}
	.agile-blog2 {
		padding: 2.5em 0em 0em;
	}
	.left-blog-contn2 {
		float: none;
		width: 100%;
	}
	.flex-control-nav {
		left: 60%;
		bottom: 13%;
	}
	.ab-text {
		margin-top: 2em;
	}
	.agile_team_grids {
		width: 60%;
		margin: 0 auto;
	}
	.agile_team_grid:nth-child(even),
	.agile_team_grid:nth-child(3) {
		margin-top: 1.5em;
	}
	.features-right-grids:nth-child(2) {
		margin: 2em 0;
	}
	.gallery-grid {
		width: 50%;
		float: left;
	}
	.contact-fields {
		padding-right: 0;
	}
	.add-left {
		margin: .6em 0em 1.5em;
	}
	.form-bg {
		padding: 3em;
	}
}

@media(max-width:900px) {
	.banner-text h2 {
		font-size: 3.8em;
		line-height: 1.4em;
	}
	.banner {
		margin-bottom: 5.95em;
	}
	.w3_navigation_pos h1 a {
		font-size: 34px;
	}
	.w3_navigation_pos {
		left: 31.3%;
	}
	.mail-grid1,
	.about-section,
	.count-agileits,
	.testimonials,
	.services,
	.contact-page,
	.agile-blogs,
	.agile-about-top,
	.features,
	.special,
	.gallery,
	.inner-padding,
	.team {
		padding: 3.5em 0;
	}
	.contact-maps {
		margin-top: 3.5em;
	}
	.w3ls_address_mail_footer_grids {
		padding: 3em 0;
	}
}

@media(max-width:800px) {
	.w3_navigation_pos span {
		font-size: 48px;
	}
	.w3_navigation_pos {
		left: 31.2%;
		top: 8%;
	}
	.banner-text h2 {
		font-size: 3.5em;
	}
	.gallery-ban {
		bottom: -5.3em;
	}
	.banner {
		margin-bottom: 5.95em;
		min-height: 542px;
	}
	h6.footer-logo a {
		font-size: 30px;
	}
	h6.footer-logo a span {
		font-size: 50px;
	}
	.callbacks_tabs {
		top: 86.5%;
		left: -1.5%;
	}
	.w3l-social ul li a.fa {
		margin: 0 1.5em;
		font-size: 14px;
	}
	.add-left p:nth-child(2) {
		margin: 0.5em 0;
	}
}

@media(max-width:768px) {
	.w3_navigation_pos {
		left: 31.4%;
		top: 12%;
	}
	.banner-text h2 {
		font-size: 3em;
	}
	.banner {
		margin-bottom: 7em;
		min-height: 550px;
	}
	.add-right {
		margin-bottom: 1.5em;
	}
}

@media(max-width:767px) {
	.w3_navigation_pos {
		position: initial;
		text-align: center;
	}
	.menu__list {
		background: rgba(17, 17, 17, 0.85);
	}
	.navbar-default .navbar-toggle {
		border-color: #3d59e8;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ff688e;
	}
	.navbar-toggle {
		margin: 1em 0;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
	}
	.menu--miranda .menu__item {
		margin: 1em;
		font-size: 14px;
	}
	.navbar-nav>li:nth-child(3) {
		margin-right: 1em !important;
	}
	.menu--miranda .menu__item:last-child {
		margin-right: 1em;
	}
	.dropdown-menu {
		text-align: center;
		background: transparent;
		float: none;
		width: 100%;
	}
	.dropdown-menu>li>a {
		color: #f5f5f5 !important;
	}
	.dropdown-menu>li>a:hover,
	.dropdown-menu>li>a:focus {
		color: #ff688e !important;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		border: 1px solid #656363;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 0px 5px 0px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #1ca0de;
	}
	.banner {
		margin-bottom: 6.6em;
		min-height: 520px;
	}
	.w3_navigation_pos h1 a {
		display: inline-block;
		margin-top: 0.2em;
	}
	h6.footer-logo a span {
		font-size: 41px;
	}
	h6.footer-logo a {
		font-size: 26px;
	}
	.icon-box {
		width: 50%;
		float: left;
	}
	.gallery-ban {
		bottom: -4.3em;
	}
	.banner {
		margin-bottom: 6.7em;
	}
}

@media(max-width:736px) {
	.w3ls_footer_grid_left .sub-head {
		font-size: 24px;
		letter-spacing: 2px;
		line-height: 24px;
	}
	.w3ls_footer_grid_left:nth-child(2) {
		margin: 1.4em 0;
	}
}

@media(max-width:667px) {
	.banner-text {
		padding: 4.8em 0 0 0;
	}
	.banner {
		min-height: 475px;
	}
	.flex-control-nav {
		left: 63%;
	}
	.callbacks_tabs {
		top: 84.5%;
	}
	.services-grids:nth-child(2),
	.services-grids:nth-child(5) {
		margin-left: 19.5px !important;
	}
	figure.effect-apollo p {
		margin: 1em 2em;
	}
	.form-bg input[type="submit"] {
		margin-top: 1.4em;
		padding: 0.5em 4em;
	}
	.features-right-left i {
		font-size: 1.3em;
	}
	.features-right-left {
		width: 55px;
		height: 55px;
	}
	.effect-2:after {
		left: -7px;
	}
	.features-right-icon:after {
		width: 70px;
		height: 70px;
	}
}

@media(max-width:640px) {
	.banner {
		min-height: 550px;
	}
	.services-grids:nth-child(2),
	.services-grids:nth-child(5) {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.services-grids:nth-child(1),
	.services-grids:nth-child(2),
	.services-grids:nth-child(3),
	.services-grids:nth-child(4),
	.services-grids:nth-child(5),
	.services-grids:nth-child(6) {
		margin-bottom: 25px;
		width: 100%;
	}
	.services-grids:nth-child(6) {
		margin-bottom: 0px;
	}
}

@media(max-width:600px) {
	.book-form {
		width: 92%;
	}
	.book-form form input[type="submit"] {
		margin-top: 2.11em;
		padding: .88em 1em;
	}
	.social-bnr-agileits ul li {
		width: 27px;
		height: 27px;
		margin: 0px 3.5px;
	}
	.social-bnr-agileits ul li i {
		font-size: 11px;
		padding-top: 0px;
	}
	.contact-bnr-w3-agile ul li {
		padding: 13px 13px;
	}
	.contact-bnr-w3-agile ul li i {
		font-size: 14px;
	}
	.banner-text h2 {
		font-size: 2.6em;
		width: 95%;
		font-weight: 500;
	}
	.banner {
		min-height: 516px;
	}
	.tittle-w3 {
		font-size: 2.95em;
		letter-spacing: 2px;
	}
	.count-grid i {
		font-size: 1.7em;
	}
	.sub-head {
		font-size: 25px;
		letter-spacing: 2px;
		line-height: 38px;
	}
	.w3_testimonials_grid_left p {
		width: 97%;
	}
}

@media(max-width:568px) {
	.book-form label i {
		margin-right: 2px;
	}
	.social-bnr-agileits ul li {
		width: 30px;
		height: 30px;
		margin: 0px 6px;
	}
	.social-bnr-agileits ul {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.social-bnr-agileits {
		float: none;
		margin-left: 0;
		padding: 1em 0;
	}
	.contact-bnr-w3-agile ul li:nth-child(1) {
		border-left: none;
	}
	.contact-bnr-w3-agile {
		float: none;
		text-align: center;
		border-top: 1px solid #918c8c;
	}
	.social-bnr-agileits ul li {
		float: none;
	}
	.search_box:checked~.search_form {
		top: 106px;
		height: 52px;
		right: 71px;
	}
	.search_form {
		right: 71px;
		top: 106px;
	}
	.search_form input[type='search'] {
		line-height: 17px;
		font-size: 15px;
	}
	.search_form input[type='submit'] {
		font-size: 14px;
		padding: 5px 28px;
	}
	.callbacks_tabs {
		top: 81.5%;
	}
	.w3layouts_newsletter_right input[type="submit"],
	.w3layouts_newsletter_right input[type="text"] {
		width: 100%;
		float: none;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 100%;
		margin: .5em 0 1em;
	}
	.n-left h6 {
		text-align: center;
	}
	.copyright-wthree p {
		letter-spacing: 1.5px;
		word-spacing: 0px;
	}
	a.read {
		font-size: .9em;
	}
}

@media(max-width:480px) {
	.contact-bnr-w3-agile ul li {
		padding: 8px 18px;
	}
	h3.hdg {
		font-size: 1.6em;
	}
	.search_box:checked~.search_form {
		right: 25px;
	}
	.search_form {
		right: 25px;
	}
	.banner {
		min-height: 668px;
	}
	.about-bottom {
		padding: 1em 1.3em;
	}
	.count-grid {
		width: 100%;
		float: none;
	}
	.count-grid:nth-child(2) {
		margin: 2em 0;
	}
	.services-right-w3-agile,
	.services-left-w3-agile {
		width: 100%;
		float: none;
	}
	.services-right-w3-agile {
		margin-top: 1.5em;
	}
	.flex-control-nav {
		left: 68%;
	}
	.copyright-wthree p {
		line-height: 28px;
	}
	.copyright-wthree {
		padding: 1.2em 0;
	}
	.callbacks_tabs {
		top: 77.5%;
	}
	.agile_team_grids {
		width: 90%;
	}
	.gallery-grid {
		width: 100%;
		float: none;
	}
	figure.effect-apollo p {
		margin: 1.8em 2.3em;
	}
	.icon-box {
		width: 100%;
		float: none;
	}
	.wthree_testimonials_grid_main img {
		width: 100%;
	}
	.banner {
		min-height: 675px;
	}
	.banner-text h2 {
		font-size: 2.2em;
		font-weight: 400;
	}
	.count-grid h5 {
		font-size: 1.3em;
		letter-spacing: 1.5px;
	}
	.form-bg {
		padding: 2em 1.3em;
	}
	.blog-grid ul li:nth-child(1) {
		float: none;
	}
	.blog-grid ul li:nth-child(2) {
		float: none;
		margin-top: 0.7em;
	}
	.admin-text-left {
		float: none;
		width: 30%;
	}
	.admin-text-right {
		float: none;
		width: 100%;
		margin-top: 1em;
	}
	.media-left.response-text-left {
		display: block;
	}
	.all-comments-info {
		padding: 1em;
	}
	.form-info {
		padding: 0;
	}
	.admin-text {
		padding: 1.3em;
	}
	.media.response-info {
		margin-top: 1.5em;
	}
	a.read {
		margin-top: .7em;
	}
}

@media(max-width:440px) {
	.contact-bnr-w3-agile ul li {
		padding: 8px 13px;
	}
	.search_form input[type='search'] {
		width: 195px;
	}
	.search_box:checked~.search_form {
		right: 52px;
		width: 312px;
	}
	.search_form {
		right: 52px;
	}
	.banner {
		min-height: 643px;
	}
	.copyright-wthree p {
		margin: 0 1em;
	}
	.callbacks_tabs {
		top: 74.5%;
		left: -3.5%;
	}
}

@media(max-width:414px) {
	.contact-bnr-w3-agile ul li {
		padding: 8px 9px;
	}
	.contact-bnr-w3-agile ul li i {
		margin-right: 10px;
	}
	.search_form input[type='search'] {
		width: 190px;
	}
	.search_form input[type='submit'] {
		padding: 5px 21px;
	}
	.search_box:checked~.search_form {
		right: 57px;
		width: 290px;
	}
	.search_form {
		right: 57px;
	}
	.banner-text h2 {
		font-size: 2em;
	}
	.banner {
		min-height: 613px;
	}
	.info-imgs ul li {
		float: none;
		width: 100%;
	}
	.tittle-w3 {
		font-size: 2.75em;
	}
	.mail-grid1,
	.about-section,
	.count-agileits,
	.testimonials,
	.services,
	.contact-page,
	.agile-blogs,
	.agile-about-top,
	.features,
	.special,
	.gallery,
	.inner-padding,
	.team {
		padding: 3em 0;
	}
	.wom {
		float: none;
		width: 30%;
		margin-bottom: 1.5em;
	}
	.wom-right {
		float: none;
		width: 100%;
	}
}

@media(max-width:384px) {
	.inner-bg-w3 {
		min-height: 310px !important;
	}
	.contact-bnr-w3-agile ul li:nth-child(1) {
		border-left: none;
		border-bottom: 1px solid #918c8c;
		width: 100%;
	}
	.contact-bnr-w3-agile ul li:nth-child(2) {
		width: 60%;
		float: left;
		border-right: 1px solid #918c8c;
	}
	.contact-bnr-w3-agile ul li:nth-child(3) {
		width: 40%;
		float: right;
	}
	.contact-bnr-w3-agile ul li {
		font-size: 15px;
	}
	.search_box:checked~.search_form {
		right: 40px;
		top: 149px;
		width: 290px;
	}
	.search_form {
		right: 40px;
		top: 149px;
	}
	.callbacks_tabs a:after {
		width: 10px;
		height: 10px;
	}
	.callbacks_tabs li {
		margin: .3em;
	}
	.agile_team_grids {
		width: 100%;
	}
	.w3_navigation_pos h1 a {
		font-size: 31px;
	}
	.w3_navigation_pos span {
		font-size: 40px;
	}
	.w3_navigation_pos h1 a {
		margin-top: 0.26em;
	}
	.flex-control-nav li {
		margin: 0 4px;
	}
	.flex-control-nav {
		left: 72%;
	}
	.banner-text h2 {
		letter-spacing: 0.5px;
	}
}

@media(max-width:375px) {
	.contact-bnr-w3-agile ul li {
		border-left: none;
	}
	.search_box:checked~.search_form {
		top: 149px;
		right: 35px;
	}
	.search_form {
		top: 149px;
	}
	.banner-text h2 {
		font-size: 2em;
	}
	.banner-text h2 {
		font-size: 2.2em;
	}
	.flex-control-nav {
		left: 71%;
	}
}

@media(max-width:320px) {
	.search_box:checked~.search_form {
		right: 9px;
	}
	.search_form {
		right: 9px;
	}
	.w3_navigation_pos span {
		font-size: 38px;
	}
	.w3_navigation_pos h1 a {
		font-size: 28px;
		margin-top: 0.4em;
	}
	.banner-text h2 {
		font-size: 2em;
	}
	.banner-text {
		padding: 2.8em 0 0 0;
	}
	.banner {
		min-height: 547px;
	}
	.agitsworkw3ls-grid {
		padding: 1.5em 1.3em;
	}
	.w3l-social ul li a.fa {
		margin: 0 1.2em;
	}
	.flex-control-nav {
		left: 34%;
		bottom: 27%;
	}
	.callbacks_tabs {
		top: 69.5%;
	}
	.grid figure figcaption {
		padding: 1em;
	}
	.bs-glyphicons li {
		height: 147px;
	}
	h3.hdg {
		font-size: 1.5em;
	}
}

/*--responsive--*/